<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--四方接口地址前缀（需要修改）-->
    <add key="OEMSyncURL" value="http://www.szsow.com/api/goodway/" />
    <!--同步数据时是否删除四方数据，true时，每次同步都会把四方系统中存在的数据但是我们系统中不存在的删除（需要修改）-->
    <add key="SyncDeleteUser" value="false" /><!--用户-->
    <add key="SyncDeleteProject" value="false" /><!--项目-->
    <!--四方管理员账号ID（默认不用修改）-->
    <add key="OEMSaUserID" value="00000000-0000-0000-0001-000000000001" />
    <!--四方设校审环节编号，Task接口获得校审数据后，生成校审单上的角色人员（默认不用修改）-->
    <add key="OEMCollactorSerial" value="1" /><!--校对人-->
    <add key="OEMAuditorSerial" value="2" /><!--审核人-->
    <add key="OEMApproverSerial" value="3" /><!--审定人-->
  </appSettings>
	<connectionStrings>
    <add name="Base" connectionString="data source=10.10.1.235\sql2008;Initial Catalog=EPM_Base;User ID=sa;PWD=zxc.123;" providerName="System.Data.SqlClient" />
    <add name="Project" connectionString="data source=10.10.1.235\sql2008;Initial Catalog=EPM_Project;User ID=sa;PWD=zxc.123;" providerName="System.Data.SqlClient" />
    <add name="ProjectBaseConfig" connectionString="data source=10.10.1.235\sql2008;Initial Catalog=EPM_Infrastructure;User ID=sa;PWD=zxc.123;" providerName="System.Data.SqlClient" />
	</connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>