<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="FileStore" connectionString="Data Source=10.10.1.10;Initial Catalog=MG_EPC_FileStore;User ID=sa;Password=123.zxc" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="FileServerName" value="Base"/>
    <add key="BeginTime" value="21:00:00"/>
    <add key="EndTime" value="7:00:00"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
