<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OEMSzsowAPI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <OEMSzsowAPI.Properties.Settings>
            <setting name="OEMSzsowAPI_FileService_OuterService" serializeAs="String">
                <value>http://localhost:8054/FileStore/Services/OuterService.asmx</value>
            </setting>
        </OEMSzsowAPI.Properties.Settings>
    </applicationSettings>
</configuration>