<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--四方接口地址前缀（需要修改）-->
    <!--<add key="OEMSyncURL" value="http://www.szsow.com/api/goodway/" />-->
    <add key="OEMSyncURL" value="http://szsow.com/api/goodway/" />
    <!--阶段、专业同步周期（分钟）；为空则每次运行同步-->
    <add key="BaseMajorPhaseSynInterval" value="120" />
    <!--人员同步系统角色限制（支持组织角色），以逗号分隔，为空则同步所有人员-->
    <add key="SynUserSysRole" value="" />
    <!--项目同步模式限制，以逗号分隔，为空则同步所有项目-->
    <add key="SynProjectMode" value="Architecture_OEM_Szsow" />
    <!--是否生成校审单、提资单、会签单-->
    <add key="AutoCreateForm" value="True" />
    <!--项目同步：项目角色对应，Key：RoleCode_金慧角色编号，Value：四方角色编号-->
    <add key="RoleCode_MajorPrinciple" value="SpecialtyHead" />
    <add key="RoleCode_Designer" value="SpecialtyDesign" />
    <add key="RoleCode_Collactor" value="SpecialtyProof" />
    <add key="RoleCode_Auditor" value="SpecialtyAudit" />
    <add key="RoleCode_Approver" value="SpecialtyApproval" />
    <add key="RoleCode_Mapper" value="Drafting" />
    <add key="RoleCode_ExecProjectManager" value="ProjectManager" />
    <add key="RoleCode_ProjectManager" value="ProjectManager" />
    <!--项目同步：图框数据对应，Key：FrameAttr_项目表(S_I_ProjectInfo)字段，Value：在四方图框显示的中文名称-->
    <add key="FrameAttr_ProjectClass" value="合作单位HCTEST" />
    

    <!--四方设校审环节编号，Task接口获得校审数据后，生成校审单上的角色人员（默认不用修改）-->
    <!--校对人-->
    <add key="OEMCollactorSerial" value="1" />
    <!--审核人-->
    <add key="OEMAuditorSerial" value="2" />
    <!--审定人-->
    <add key="OEMApproverSerial" value="3" />
  </appSettings>
  <connectionStrings>
    <add name="Base" connectionString="data source=10.10.1.235\sql2008;Initial Catalog=EPM_Base;User ID=sa;PWD=zxc.123;" providerName="System.Data.SqlClient" />
    <add name="Project" connectionString="data source=10.10.1.235\sql2008;Initial Catalog=EPM_Project;User ID=sa;PWD=zxc.123;" providerName="System.Data.SqlClient" />
    <add name="InfrasBaseConfig" connectionString="data source=10.10.1.235\sql2008;Initial Catalog=EPM_Infrastructure;User ID=sa;PWD=zxc.123;" providerName="System.Data.SqlClient" />
    <add name="SzsowInteface" connectionString="data source=10.10.1.235\sql2008;Initial Catalog=EPM_SzsowInteface;User ID=sa;PWD=zxc.123;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>