<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--四方文件接口地址前缀（需要修改）-->
    <add key="OEMDownloadURL" value="http://www.szsow.com/storagewebapi_goodway/storage/download" />
    <!--<add key="OEMDownloadURL" value="http://192.168.199.126/storagewebapi/storage/download" />-->
    <!--FileStore服务器（需要修改）-->
    <add key="FileStore" value="http://localhost:8054/FileStore/Services/OuterService.asmx"/>
  </appSettings>
	<connectionStrings>
    <add name="FileStore" connectionString="data source=.;Initial Catalog=FE_FileStore;User ID=sa;Password=123.zxc" providerName="System.Data.SqlClient" />
    <add name="Base" connectionString="data source=10.10.1.235\sql2008;Initial Catalog=EPM_Base;User ID=sa;PWD=zxc.123;" providerName="System.Data.SqlClient" />
    <add name="Project" connectionString="data source=10.10.1.235\sql2008;Initial Catalog=EPM_Project;User ID=sa;PWD=zxc.123;" providerName="System.Data.SqlClient" />
    <add name="ProjectBaseConfig" connectionString="data source=10.10.1.235\sql2008;Initial Catalog=EPM_Infrastructure;User ID=sa;PWD=zxc.123;" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>