<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="FileStore" connectionString="data source=10.10.1.235\sql2008;Initial Catalog=EPM_FileStore;User ID=sa;Password=123.zxc" providerName="System.Data.SqlClient" />
    <add name="Project" connectionString="data source=10.10.1.235\sql2008;Initial Catalog=EPM_Project;User ID=sa;PWD=zxc.123;" providerName="System.Data.SqlClient" />
    <add name="InfrasBaseConfig" connectionString="data source=10.10.1.235\sql2008;Initial Catalog=EPM_Infrastructure;User ID=sa;PWD=zxc.123;" providerName="System.Data.SqlClient" />
    <add name="Base" connectionString="data source=10.10.1.235\sql2008;Initial Catalog=EPM_Base;User ID=sa;PWD=zxc.123;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!--FileStore服务器-->
    <add key="FileStore" value="http://10.10.1.87:8028/FileStore/Services/OuterService.asmx"/>

    <!--校审通过进行盖章：Pass；出图申请通过进行盖章：Printed；重新盖章：ReSign-->
    <add key="SignState" value="Printed" />
    <!--是否进行签名-->
    <add key="IsSign" value="true" />
    <!--是否进行盖章-->
    <add key="IsStamp" value="true" />
    <!--是否进行CA-->
    <add key="IsCA" value="false" />

    <!--*******************************客户端盖CA章相关*******************************-->
    <!--时间戳验证URL-->
    <add key="TSA_URL" value="http://tsa.safelayer.com:8093"/>
    <!--时间戳验证账号-->
    <add key="TSA_ACCNT" value=""/>
    <!--时间戳验证密码-->
    <add key="TSA_PASSW" value=""/>
    
    <!--*******************************上海CA一体机相关*******************************-->
    <!--是否使用一体机盖章-->
    <add key="UseCAMachine" value="true"/>
    <!--一体机服务器IP端口-->
    <add key="IPPort" value="http://103.36.136.173:20010/SRC_JH/"/>
    <!--api_key-->
    <add key="API_Key" value="00000"/>
    <!--api_secret-->
    <add key="API_Secret" value="00000000"/>
    <!--是否同步图章-->
    <add key="SynchSeal" value="true"/>
  </appSettings>
</configuration>