<!DOCTYPE html>
<html lang="zh">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>@System.Configuration.ConfigurationManager.AppSettings["company"]</title>
    <meta name="viewport" content="width=device-width" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    @RenderSection("ForYDT", false)
</head>
<body style="font-size: 13px; font-family: Microsoft YaHei;">
    <div data-role="page" data-theme="a">
        @RenderBody()
    </div>
</body>
</html>