<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--客户端调用产品底层服务凭据，与web系统授权码及ip一致即可（不需要端口号）-->
    <add key="AuthCode" value="ta96IpV4RdcUXYun3XaT8L7BadYY2bv7pCjTcK8/riRL1YnJ5SOJibEiyeUjhkXm,KXSwgL/6V4iq2qXO27P1WZ2k7fW0gETAoRtN+PQiuj115FgKEiC4kVIpcamNu8bk" />
    <add key="AuthHost" value="10.10.1.119" />
    
    <!--消息悬停时间(单位/s)-->
    <add key="DelayTime" value="10" />
    <!-- BEWeb系统地址-->
    <add key="WebAddress" value="10.10.1.119:8053" />
  </appSettings>
  <connectionStrings>
    <add name="WorkFlow" connectionString="data source=10.10.1.235\sql2008;initial catalog=EPM_WorkFlow;User ID=sa;PWD=123.zxc;" providerName="System.Data.SqlClient" />
    <add name="Base" connectionString="data source=10.10.1.235\sql2008;initial catalog=EPM_Base;User ID=sa;PWD=123.zxc;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
