<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="PDFViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <PDFViewer.Properties.Settings>
      <setting name="PDFViewer_FileService_OuterService" serializeAs="String">
        <value>http://localhost:8053/FileStore/Services/OuterService.asmx</value>
      </setting>
    </PDFViewer.Properties.Settings>
  </applicationSettings>
  <appSettings>
    <!--Form to Word服务器-->
    <add key="FormToWordApiUrl" value="http://10.10.1.201:8053/MvcConfig/api/"/>
    <!--FileStore服务器-->
    <add key="FileStore" value="http://localhost:8053/FileStore/Services/OuterService.asmx"/>
  </appSettings>
</configuration>