@{
    ViewBag.Title = "TreeEdit";
}

<div id="formlayout" class="mini-layout" style="width: 100%; height: 100%;">
    <div region="north" height="32" showspliticon="false" showheader="false" allowresize="false" splitsize="0" style="border: 0;">
    </div>
    <div title="center" region="center" style="border: 0;">
        @Html.Raw(ViewBag.FormHtml)
    </div>
</div>
<script type="text/javascript">
    @{
    var enumList = ViewBag.Enums as List<string>;
    foreach (var item in enumList)
    {
        @Html.GetEnum(item);
    }
}
</script>