@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_LayoutTab.cshtml";
}
<div class="mini-toolbar" style="padding: 2px; border-bottom: 0;">
    <table style="width: 100%;">
        <tr>
            <td style="width: 100%;">
                @Html.ExportButton()
            </td>
            <td style="white-space: nowrap;">
                <input class="mini-buttonedit searchbox" id="key" emptytext="请输入付款单位或合同名称或合同编号" style="width: 300px;"
                    onenter="tabSearch();" onbuttonclick="tabSearch();" />
                <a class="mini-button" onclick="showWindow('queryWindow')" iconcls="icon-find" plain="true">详细查询</a>
            </td>
        </tr>
    </table>
</div>
<div class="mini-fit" style="height: 100px;" id="GridArea">
    <div id="dataGrid" url="GetList" class="mini-datagrid" style="width: 100%; height: 100%;" idfield="ID"
        multiselect="true" showsummaryrow="true" ondrawsummarycell="onDrawSummaryCell" onshowrowdetail="onShowDetail">
        <div property="columns">
            <div type="indexcolumn">
            </div>
            <div type="expandcolumn" style="width: 10px;">
            </div>
            <div field="ReceiptState" width="90" headeralign="center" allowsort="true" align="center">
                收款状态</div>
            <div field="PayerUnitSubName" width="300" headeralign="center" allowsort="true">
                付款单位</div>           
            <div field="InvoiceType" width="120" headeralign="center" allowsort="true" align="center">
                发票类型</div>
            <div field="ClearAmount" datatype="currency" width="120" headeralign="center" allowsort="true" align="right">
                金额（元）</div>
            <div field="TaxesAmount" datatype="currency" width="120" headeralign="center" allowsort="true" align="right">
                税金（元）</div>
            <div field="Amount" datatype="currency" width="120" headeralign="center" allowsort="true" align="right">
                开票金额（元）</div>
            <div field="RelationValue" datatype="currency" width="120" headeralign="center" allowsort="true" align="right">
                收款金额（元）</div>
            <div field="Receivable" datatype="currency" width="120" headeralign="center" allowsort="true" align="right">
                未收款（元）</div>
            <div field="ContractName" width="300" headeralign="center" allowsort="true">
                合同名称</div>
            <div field="ContractCode" width="120" headeralign="center" allowsort="true">
                合同编号</div>
            <div field="InvoiceMaker" headeralign="center" width="120" allowsort="true" align="center">
                开票人</div>
            <div field="InvoiceDate" dateformat="yyyy-MM-dd" headeralign="center" width="120" allowsort="true" align="center">
                开票日期</div>
            <div field="Remark" width="200" headeralign="center" allowsort="true">
                备注</div>
        </div>
    </div>
</div>
<div id="queryWindow" class="mini-window" title="详细查询" style="width: 750px;" showmodal="true" allowresize="false"
    allowdrag="true">
    <div class="queryDiv">
        <form id="queryForm" method="post">
        <table>
            <tr>
                <td width="10%" align="center">
                    付款单位
                </td>
                <td width="23%" align="left">
                    <input name="$LK$PayerUnit" style="width: 100%" class="mini-textbox" vtype="maxLength:50" />
                </td>
                <td width="10%" align="center">
                    开票日期
                </td>
                <td width="23%" align="left">
                    <input name="$FR$InvoiceDate" class="mini-datepicker" style="width: 100%" />
                </td>
                <td width="10%" align="center">
                    至
                </td>
                <td width="23%" align="left">
                    <input name="$TO$InvoiceDate" class="mini-datepicker" style="width: 100%" />
                </td>
            </tr>
            <tr>
                <td align="center">
                    合同名称
                </td>
                <td align="left">
                    <input name="$LK$ContractName" style="width: 100%" class="mini-textbox" vtype="maxLength:50" />
                </td>
                <td align="center">
                    合同编号
                </td>
                <td align="left">
                    <input name="$LK$ContractCode" style="width: 100%" class="mini-textbox" vtype="maxLength:50" />
                </td>
                <td align="center">
                    开票人
                </td>
                <td align="left">
                    <input name="$LK$InvoiceMaker" style="width: 100%" class="mini-textbox" vtype="maxLength:50" />
                </td>
            </tr>
            <tr>
                <td align="center">
                    发票类型
                </td>
                <td align="left">
                    <input name="$LK$InvoiceType" class="mini-combobox" style="width: 100%;" textfield="text" valuefield="value"
                        data="InvoiceType" allowinput="false" />
                </td>
                <td align="center">
                </td>
                <td align="left">
                </td>
                <td align="center">
                </td>
                <td align="left">
                </td>
            </tr>
        </table>
        </form>
        <div>
            <a class="mini-button" onclick="tabSearch();" iconcls="icon-find" style="margin-right: 20px;">查询</a>
            <a class="mini-button" onclick="clearQueryForm()" iconcls="icon-undo">清空</a>
        </div>
    </div>
</div>
<div id="detail" style="display: none;">
    <div id="detailGrid" class="mini-datagrid" style="width: 1200px; height: 170px; margin-left: 50px;" url=""
        showpager="false" showsummaryrow="true" ondrawsummarycell="onDrawSummaryCell">
        <div property="columns">
            <div type="indexcolumn">
            </div>
            <div field="RelationValue" datatype="currency" summarytype="sum" width="90" headeralign="center" allowsort="true"
                align="right">
                收款金额
            </div>
            <div field="ArrivedDate" width="100" allowsort="true" dateformat="yyyy-MM-dd" align="center" headeralign="center">
                收款日期
            </div>
            <div field="ReceiptType" width="100" allowsort="true" align="center">
                收款方式
            </div>
            <div field="ReceiptMasterUnit" width="200" allowsort="true">
                所属部门
            </div>
            <div field="ContractName" width="350" allowsort="true">
                合同名称
            </div>
            <div field="ContractCode" width="200" allowsort="true">
                合同编号
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
@Html.GetEnum(typeof(Market.Logic.InvoiceType))
@Html.GetEnum(typeof(Market.Logic.InvoiceReceiptState))
</script>
<script type="text/javascript">
    addGridEnum("dataGrid", "InvoiceType", "InvoiceType");
    addGridEnum("dataGrid", "ReceiptState", "InvoiceReceiptState");
    addGridLink('dataGrid', 'InvoiceType', '/Market/Basic/Invoice/InvoiceEdit?ID={ID}', { funcType: 'view', height: '90%', width: '80%' });
    normalParamSettings.searchFields = "PayerUnit,ContractCode,ContractName";

    var detail = $("#detail")[0];
    function onShowDetail(e) {
        var grid = e.sender;
        var row = e.record;
        if (detail) {
            var td = grid.getRowDetailCellEl(row);
            td.appendChild(detail);
            detail.style.display = "block";
            detailGrid = mini.get("detailGrid");
            var url = "GetReceiptList?InvoiceID=" + row.ID;
            detailGrid.setUrl(url);
            detailGrid.load();
        }
    }

    //计算合计
    function onDrawSummaryCell(e) {
        var result = e.result;
        if (result.sumData && e.field) {
            if (result.sumData[e.field] != undefined) {
                e.cellHtml = result.sumData[e.field];
                e.cellStyle = "text-align:right; color:Brown";
            }
            else if (result.avgData[e.field] != undefined) {
                e.cellHtml = "平均：" + result.avgData[e.field];
                e.cellStyle = "text-align:center; color:Brown;datatype:currency";
            }
            else {
                e.cellHtml = "";
                e.cellStyle = "text-align:right; color:Brown";
            }
        }
        else {
            e.cellStyle = "text-align:right; color:Brown";
        }
    }


</script>
