<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="Leaflet.Adaptor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
			<section name="Leaflet.Data.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<appSettings>
		<!--雇员合同到期轮循周期-->
		<add key="EmployeeContractCycleDays" value="7" />
		<!--执业资格到期轮循周期-->
		<add key="PracticeQualificationCycleDays" value="7" />
		<!--雇员合同提前提醒天数-->
		<add key="EmployeeContractDeadlineDays" value="30" />
		<!--执业资格提前提醒天数-->
		<add key="PracticeQualificationDeadlineDays" value="30" />

		<!--FileStore的地址-->
		<add key="FileStore" value="http://10.10.1.108:8080/FileStore/Services/OuterService.asmx" />
	</appSettings>
	<connectionStrings>
		<add name="QuartzScheduler" connectionString="Data Source=./Scheduler.db;Version=3;New=True;" providerName="System.Data.SQLite" />
		<add name="Base" connectionString="Data Source=10.10.1.235\gw02;Initial Catalog=FE_Base;User ID=sa;PWD=zxc.123;" providerName="System.Data.SqlClient" />
		<add name="Workflow" connectionString="Data Source=10.10.1.235\gw02;Initial Catalog=FE_Workflow;User ID=sa;PWD=zxc.123;" providerName="System.Data.SqlClient" />
		<add name="Terminal" connectionString="Data Source=10.10.1.235\gw02;Initial Catalog=YDT_Terminal;User ID=sa;PWD=zxc.123;" providerName="System.Data.SqlClient" />
		<add name="Market" connectionString="Data Source=10.10.1.235\gw02;Initial Catalog=FE_Market;User ID=sa;PWD=zxc.123;" providerName="System.Data.SqlClient" />
		<add name="Demo" connectionString="Data Source=10.10.1.235\gw02;Initial Catalog=FE_Demo;User ID=sa;PWD=zxc.123;" providerName="System.Data.SqlClient" />
		<add name="OfficeAuto" connectionString="Data Source=10.10.1.235\gw02;Initial Catalog=FE_OfficeAuto;User ID=sa;PWD=zxc.123;" providerName="System.Data.SqlClient" />
		<add name="EPC" connectionString="Data Source=10.10.1.235\gw02;Initial Catalog=FE_EPC;User ID=sa;PWD=zxc.123;" providerName="System.Data.SqlClient" />
		<add name="HR" connectionString="Data Source=10.10.1.235\gw02;Initial Catalog=FE_HR;User ID=sa;PWD=zxc.123;" providerName="System.Data.SqlClient" />
	</connectionStrings>

</configuration>