<?xml version="1.0"?>
<configuration>
	<system.data>
	</system.data>
	<appSettings>
		<!--以下是需要配置的-->

    <!--企业ID-->
    <add key="corpid" value="ww95668de9993cf397" />
    <!--金慧应用ID-->
    <add key="agentId" value="1000016" />
    <!--金慧应用密钥-->
    <add key="usecorpsecret" value="_Y1kG2zWijfR5bdS4xIVnkVLu9So1qkXGccMQYl9N1s" />
    <!--企业微信通讯录密钥-->
    <add key="addresscorpsecret" value="5HdTcjmDt7OJwQf-_icc7cVJTyi76E0X6rmfPSQyjBg" />
    <!--消息推送地址 -->
    <add key="MsgsSendURL" value="http://wx.goodwaysoft.com:8083"/>


    <!--强制按系统组织层次架构同步,如果配置false同步忽略层次架构，只判断有无;true强制按层次架构进行差异架构同步 -->
		<add key="IsMisSyscOrg" value="true"/>
		<!--MIS手机号不存在时自动拼接邮箱 -->
		<add key="MailboxSuffix" value="@goodwaysoft.com"/>
    <!--获取程序的组织应用范围根节点ID -->
    <add key="AuthOrgRoot" value="1"/>
		<!--是否推送消息 true推送 false不推送-->
		<add key="IsOnlyPush" value="false"/>
    <!--是同步组织 true同步 false不同步-->
    <add key="SYNFlag" value="true"/>
    <!--是否同步部门 true同步 false不同步，若同步人员开关不开则，人员的部门不会修改-->
    <add key="SYNDept" value="false"/>
    <!--是否同步人员 true同步 false不同步,若人员的部分企业微信中不存在则加入根目录-->
    <add key="SYNUser" value="false"/>
		<!--用户存在时是否更新 -->
		<add key="IsUpdateExistUser" value="false"/>
		<!--获取推送消息的开始时间数据 -->
		<add key="MsgsBeginTime" value="2001-01-01 15:40:55"/>
		<!--消息时间(00:00,08:00,12:30,17:00),value为空时按自动作业运行 -->
		<add key="MsgsSendTime" value=""/>
		<!--消息推送方式false单条推送 true任务定期推送 -->
		<add key="IsRegularPush" value="false"/>
		<!--是否创建项目群组 true创建 false不创建-->
		<add key="IsCreateProjectGroup" value="false"/>
		<!--同步的组织名称-->
		<add key="OrgNameField" value="Name"/>
    <!--排除要同步的组织以及组织下的人员,逗号隔开-->
    <add key="WithOutOrgField" value=""/>


    <!--配置结束-->


		<!--微信接口地址-->
		<add key="ApiURL" value="https://qyapi.weixin.qq.com" />
		<!--此处企业微信人员帐号上限,会根据此上限优化算法-->
		<add key="WeiXinUserCount" value="200"/>
	</appSettings>
	<connectionStrings>
    <add name="Base" connectionString="Data Source=10.10.1.110;Initial Catalog=YDT2016_Base;User ID=sa;PWD=123.zxc;" providerName="System.Data.SqlClient" />
    <add name="Project" connectionString="Data Source=10.10.1.110;Initial Catalog=YDT2016_Project;User ID=sa;PWD=123.zxc;" providerName="System.Data.SqlClient" />
    <add name="Workflow" connectionString="Data Source=10.10.1.110;Initial Catalog=YDT2016_Workflow;User ID=sa;PWD=123.zxc;" providerName="System.Data.SqlClient" />
    <add name="Terminal" connectionString="Data Source=10.10.0.110;Initial Catalog=YDT2016_Terminal;User ID=sa;PWD=123.zxc;" providerName="System.Data.SqlClient"/>

  </connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
</configuration>
