@{
    ViewBag.Title = "Index";
    Layout = null;
}
<html>
    <body style="margin:0px">
        <div style="display:flex;width:100%;height:180px"><iframe style="width:100%;height:100%;border:0px" src="/MvcConfig/UI/Graph/PageView?TmplCode=MarketFront"></iframe></div>
        <div style="display:flex;width:100%;height:360px"><iframe style="width:100%;height:100%;border:0px" src="/MvcConfig/UI/Graph/PageView?TmplCode=MarketMiddle"></iframe></div>
        <div style="display:flex;width:100%;height:720px"><iframe style="width:100%;height:100%;border:0px" src="/MvcConfig/UI/Graph/PageView?TmplCode=MarketBottom"></iframe></div>
    </body>
</html>
