<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <!--平台——授权码-->
    <add key="AuthCode" value="ta96IpV4RdcUXYun3XaT8L7BadYY2bv7pCjTcK8/riRL1YnJ5SOJibEiyeUjhkXm,KXSwgL/6V4iq2qXO27P1WZ2k7fW0gETAoRtN+PQiuj115FgKEiC4kVIpcamNu8bk" />
    <add key="AuthHost" value="10.10.1.119" />
    <!--任务调度器对外提供的端口号-->
    <add key="SchedulerPort" value="5551" />
    <!--服务英文名称，也是任务调度器实例Id，用于区分不同的任务调度器-->
    <add key="ServiceName" value="OAScheduleJob" />
    <!--服务显示名称，也是任务调度器中文名字-->
    <add key="ServiceDisplayName" value="任务调度器（TaskDefault1）" />
    <!--服务中文描述-->
    <add key="ServiceDescription" value="控制台便于调试，通过Topshelf进行部署为服务，命令是install" />
    <!--超时警告的deadline-->
    <add key="TimeOutAlarmDeadline" value="24" />
    <!--流程API服务器-->
    <add key="FlowApiUrl" value="http://10.10.1.119:8054/WorkFlow/api/" />
  </appSettings>
  <connectionStrings>
    <!--<add name="QuartzScheduler" connectionString="Data Source=./Scheduler.db;Version=3;New=True;" providerName="System.Data.SQLite" />-->
    <add name="Base" connectionString="data source=.;Initial Catalog=EPM_Base;User ID=sa;PWD=123.zxc;" providerName="System.Data.SqlClient" />
    <add name="Workflow" connectionString="data source=.;initial catalog=EPM_Workflow;user id=sa;password=123.zxc;" providerName="System.Data.SqlClient" />
    <add name="FileStore" connectionString="data source=.;Initial Catalog=EPM_FileStore;User ID=sa;Password=123.zxc" providerName="System.Data.SqlClient" />
    <add name="Market" connectionString="data source=.;Initial Catalog=EPM_Market;User ID=sa;PWD=123.zxc;" providerName="System.Data.SqlClient" />
    <add name="Project" connectionString="data source=.;Initial Catalog=EPM_Project;User ID=sa;PWD=123.zxc;" providerName="System.Data.SqlClient" />
    <add name="HR" connectionString="data source=.;Initial Catalog=EPM_HR;User ID=sa;PWD=123.zxc;" providerName="System.Data.SqlClient" />
    <add name="OfficeAuto" connectionString="data source=.;Initial Catalog=EPM_OfficeAuto;User ID=sa;PWD=123.zxc;" providerName="System.Data.SqlClient" />
    <add name="ProjectBaseConfig" connectionString="data source=.;Initial Catalog=EPM_ProjectBaseConfig;User ID=sa;PWD=123.zxc;" providerName="System.Data.SqlClient" />
    <!-- <add name="Engineering" connectionString="data source=.;Initial Catalog=EPC_Engineering;User ID=sa;PWD=123.zxc;" providerName="System.Data.SqlClient" /> -->
    <!-- <add name="Infrastructure" connectionString="data source=.;Initial Catalog=EPC_Infrastructure;User ID=sa;PWD=123.zxc;" providerName="System.Data.SqlClient" /> -->
    <add name="DocConfig" connectionString="data source=.;initial catalog=EPM_DocConfig;User ID=sa;PWD=123.zxc;" providerName="System.Data.SqlClient" />
    <add name="DocConst" connectionString="data source=.;initial catalog=EPM_DocConst;User ID=sa;PWD=123.zxc;" providerName="System.Data.SqlClient" />
    <add name="Demo" connectionString="data source=.;Initial Catalog=EPM_Demo;User ID=sa;PWD=123.zxc;" providerName="System.Data.SqlClient" />
    <add name="Terminal" connectionString="data source=116.228.144.166,8072;Initial Catalog=YDT2016_Terminal;User ID=sa;PWD=123.zxc;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>