<?xml version="1.0"?>
<configuration>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite"/>
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite, Version=1.0.82.0, Culture=neutral, PublicKeyToken=db937bc2d44ff139"/>
    </DbProviderFactories>
  </system.data>
  <appSettings>
    <!--任务调度器对外提供的端口号-->
    <add key="SchedulerPort" value="5551"/>
    <!--服务英文名称，也是任务调度器实例Id，用于区分不同的任务调度器-->
    <add key="ServiceName" value="OAScheduleJob"/>
    <!--服务显示名称，也是任务调度器中文名字-->
    <add key="ServiceDisplayName" value="任务调度器（TaskDefault1）"/>
    <!--服务中文描述-->
    <add key="ServiceDescription" value="控制台便于调试，通过Topshelf进行部署为服务，命令是install"/>
    <!--需要依赖注入的dll，如：NBlock*.dll,*Models.dll,*Services.dll-->
    <add key="RegisterModules" value=""/>

    <!--发送手机通知的Url地址-->
    <add key="MobileMsgsUrl" value="http://10.10.1.119:8052/api/MobileMsgs"/>

    <!--华为密钥-->
    <add key="HuaWeiAppSecret" value="329978a7e5ba61bcd2f9d9670181011a"/>
    <!--华为AppId-->
    <add key="HuaWeiAppId" value="100300455"/>

    <!--上次推送的任务创建时间-->
    <add key="LastSendTime" value=""/>
  </appSettings>
  <connectionStrings>
    <add name="QuartzScheduler" connectionString="Data Source=./../../App_Data/Scheduler.db;Version=3;New=True;" providerName="System.Data.SQLite"/>

    <add name="Workflow" connectionString="Data Source=.;Initial Catalog=EPM_Workflow;User ID=sa;PWD=123.zxc;" providerName="System.Data.SqlClient"/>
    <add name="Base" connectionString="Data Source=.;Initial Catalog=EPM_Base;User ID=sa;PWD=123.zxc;" providerName="System.Data.SqlClient"/>
    <add name="Terminal" connectionString="Data Source=.;Initial Catalog=YDT_Terminal;User ID=sa;PWD=123.zxc;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
