<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--是否生成日志文本-->
    <add key="EnableLogger" value="true" />
    <!--统一默认值设置-->
    <add key="DefaultFieldValue" value="[
{'FieldName': 'OrgCode','FieldValue': 'OrgCode'},
{'FieldName': 'OrgName','FieldValue': 'OrgName'},
{'FieldName': 'Number','FieldValue': 'Number'},
{'FieldName': 'Type','FieldValue': 'Type'},
{'FieldName': 'SerialNumber','FieldValue': 'SerialNumber'},
{'FieldName': 'Name','FieldValue': '无'},
{'FieldName': 'ProjectCode','FieldValue': '无'},
{'FieldName': 'ProjectName','FieldValue': '无'},
{'FieldName': 'Code','FieldValue': '无'},
{'FieldName': 'DeptCode','FieldValue': '无'},
{'FieldName': 'DeptName','FieldValue': '无'},
{'FieldName': 'TaxNo','FieldValue': '无'}
]" />
  </appSettings>
  <connectionStrings>
    <!--源数据库配置-->
    <add name="Market" connectionString="data source=10.10.1.235\sql2008;Initial Catalog=EPM_Market;User ID=sa;PWD=zxc.123;" providerName="System.Data.SqlClient" />
    <add name="HR" connectionString="data source=10.10.1.235\sql2008;Initial Catalog=EPM_HR;User ID=sa;PWD=zxc.123;" providerName="System.Data.SqlClient" />
    <add name="Base" connectionString="data source=10.10.1.235\sql2008;Initial Catalog=EPM_Base;User ID=sa;PWD=zxc.123;" providerName="System.Data.SqlClient" />
    <add name="OfficeAuto" connectionString="data source=10.10.1.235\sql2008;Initial Catalog=EPM_OfficeAuto;User ID=sa;PWD=zxc.123;" providerName="System.Data.SqlClient" />
    <!--目标数据库配置-->
    <add name="DataInterface" connectionString="data source=10.10.1.235\sql2008;Initial Catalog=EPM_DataInterface;User ID=sa;PWD=zxc.123;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>