@{
    ViewBag.Title = "CostItemSummaryList";
}
<div class="mini-fit">
    <div id="dataGrid" url="" class="mini-datagrid" style="width: 100%; height: 100%;" idfield="ID" multiselect="true"
        showpager="false" borderstyle="border:0" showsummaryrow="true"   ondrawsummarycell="onDrawSummaryCell" >
        <div property="columns">
            <div type="indexcolumn">
            </div>
            <div field="SubjectName" width="*" headeralign="center" allowsort="true">
                科目名称</div>
            <div field="CostValue" width="200" headeralign="center" align="right" summarytype="sum" renderer="onLinkRender">
                支出金额（元）</div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var requestData = {};
    function setData(queryData) {
        requestData = $.extend({}, mini.clone(queryData), requestData);
        var grid = mini.get("dataGrid");
        grid.setUrl("GetCostItemSummaryInfo");
        grid.load({ "queryFormData": mini.encode(queryData) });
    }

    function onLinkRender(e) {
        var cls = "";
        var uid = e.record._uid;
        var s = '<a ' + cls + 'href="javascript:void(0)" onclick="onGridLink(\'' + uid + '\',\'' + e.field + '\',\'' + e.sender.id + '\');">' + mini.formatNumber(e.value, "n") + '</a>';
        return s;
    }

    function onGridLink(UID, field, GridID) {
        var dataGrid = mini.get(GridID);
        var row = dataGrid.getRowByUID(UID);
        var queryData = $.extend({}, mini.clone(requestData), { "$EQ$SubjectCode": row.SubjectCode });
        var url = "/MvcConfig/UI/List/PageView?TmplCode=EngineeringCostDetail"; var width = "70%"; var height = "75%";
        openWindow(url, { data: queryData, width: width, height: height, title: row.SubjectName });
    }

    //计算合计
    function onDrawSummaryCell(e) {
        var result = e.result;
        if (e.field == "SubjectName") {
            e.cellHtml = "合计：";
            e.cellStyle = " text-align: left;color:Brown";
        }
        else {
            e.cellStyle = "text-align:right; color:Brown";
        }
    }
</script>
