<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--是否分布式存储,一般情况请配置为True-->
    <add key="FS_Distributed" value="True" />

    <!--是否启用分布式事务-->
    <add key="UseMsdtc" value="False" />
    <!-- 是否启用缓存-->
    <add key="UseCache" value="False" />

    <!--平台不能输入的字符-->
    <add key="CharFilter" value="" />

    <!--是否连接Oracle数据库-->
    <add key="IsOracleDb" value="False" />

  </appSettings>

  <connectionStrings>
    <add name="Base" connectionString="data source=10.10.1.235\gw02;initial catalog=FE_Base;User ID=sa;PWD=zxc.123;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
