<?xml version="1.0"?>
<configuration>
  <system.data>
  </system.data>
  <appSettings>
    <!--Form to Word服务器-->
    <add key="FormToWordApiUrl" value="http://10.10.1.172:8054/MvcConfig/api/"/>
    <!--FileStore服务器-->
    <add key="FileStore" value="http://10.10.1.172:8054/FileStore/Services/OuterService.asmx"/>
    <!--发送手机通知的Url地址-->
    <add key="MobileMsgsUrl" value="http://10.10.1.172:8055/api/MobileMsgs"/>
    
  </appSettings>
  <connectionStrings>
    <add name="Workflow" connectionString="Data Source=10.10.1.235\sql2008;Initial Catalog=Arch_Workflow;User ID=sa;PWD=123.zxc;" providerName="System.Data.SqlClient"/>
    <add name="Base" connectionString="Data Source=10.10.1.235\sql2008;Initial Catalog=Arch_Base;User ID=sa;PWD=123.zxc;" providerName="System.Data.SqlClient"/>
    <add name="Terminal" connectionString="Data Source=10.10.1.235\sql2008;Initial Catalog=Arch_Terminal;User ID=sa;PWD=123.zxc;" providerName="System.Data.SqlClient"/>
    <!--经营图标需要访问经营库-->
    <add name="Market" connectionString="Data Source=10.10.1.235\sql2008;Initial Catalog=Arch_Market;User ID=sa;PWD=123.zxc;" providerName="System.Data.SqlClient"/>
    <add name="Project" connectionString="Data Source=10.10.1.235\sql2008;Initial Catalog=Arch_Project;User ID=sa;PWD=123.zxc;" providerName="System.Data.SqlClient"/>
    <add name="BaseConfig" connectionString="Data Source=10.10.1.235\sql2008;Initial Catalog=Arch_Infras;User ID=sa;PWD=123.zxc;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
