@{
    ViewBag.Title = "协同工作区配置";
}
<div class="mini-fit" style="padding-top: 5px;">
    <div id="mainTab" class="mini-tabs" activeindex="0" style="width: 100%; height: 100%;">
        <div title="表单URL配置" url="URLConfig">
        </div>
        <div title="权限配置" url="../Authorization/Authorization">
        </div>
    </div>
</div>
<script type="text/javascript">

</script>