@{
    ViewBag.Title = "Tag";
}
<div class="mini-toolbar" style="padding: 0px;">
    <table style="width: 100%;">
        <tr>
            <td style="width: 100%;">
                <div id="rbl" class="mini-radiobuttonlist" repeatitems="1" repeatlayout="table" repeatdirection="vertical"
                     textfield="Name" valuefield="ID">
                </div>
            </td>
            <td style="white-space: nowrap;"></td>
        </tr>
    </table>
</div>
<div class="mini-fit" style="padding-top: 0px;border:0px">
    <div id="maintab" bodystyle="padding:0px;border-bottom:0px;border-left:0px;border-right:0px;"
         class="mini-tabs" activeindex="0" style="width: 100%; height: 100%; border: solid 0px #999999;
        border-bottom: solid 0px #A8A8A8;">
        <div title="Title" showheader="false" headerstyle="display:none;">
        </div>
    </div>
</div>
<script type="text/javascript">
    mini.parse(); var mainTabs = mini.get("maintab"); var tab = mainTabs.getTabs()[0];
    var spaceID = getQueryString("SpaceID");
    var nodeID = getQueryString("ID");
    var State = getQueryString("State");
    var rbl = mini.get("rbl");
    var IsEdit = "@Request["$IsEdit"]";
    var QueryType = "@Request["$QueryType"]";
    if (!spaceID) alert("请指定图档空间ID");
    else {
        var url = "getfileconfiginfo?SpaceID=" + spaceID + "&ID=" + nodeID;
        rbl.load(url);
        rbl.on("valuechanged", function (e) {
            var configID = this.getValue();
            tab.url = "List?SpaceID=" + spaceID + "&ConfigID=" + configID + "&ShowAdvanceQuery=false&QueryType=File";
            if (State != "" && typeof State != "undefined" && State != null)
                tab.url = "List?SpaceID=" + spaceID + "&ConfigID=" + configID + "&ShowAdvanceQuery=false&QueryType=File" + "&State=" + State;
            else if (IsEdit == "true" && QueryType == "sealup")
                tab.url = "List?SpaceID=" + spaceID + "&ConfigID=" + configID + "&ShowAdvanceQuery=false&QueryType=File" + "&$IsEdit=true&$IsSelect=true&StorageType=Physical";
            else if (IsEdit == "true")
                tab.url = "List?SpaceID=" + spaceID + "&ConfigID=" + configID + "&ShowAdvanceQuery=false&QueryType=File" + "&$IsEdit=true&$IsSelect=true";
            mainTabs.reloadTab(tab);
        });
    }
    if (rbl.data.length > 0) {
        rbl.setValue(rbl.data[0].ID);
        tab.url = "List?SpaceID=" + spaceID + "&ConfigID=" + rbl.data[0].ID + "&ShowAdvanceQuery=false&QueryType=File";
        if (State != "" && typeof State != "undefined" && State != null)
            tab.url = "List?SpaceID=" + spaceID + "&ConfigID=" + rbl.data[0].ID + "&ShowAdvanceQuery=false&QueryType=File" + "&State=" + State;
        else if (IsEdit == "true" && QueryType == "sealup")
            tab.url = "List?SpaceID=" + spaceID + "&ConfigID=" + rbl.data[0].ID + "&ShowAdvanceQuery=false&QueryType=File" + "&$IsEdit=true&$IsSelect=true&StorageType=Physical";
        else if (IsEdit == "true")
            tab.url = "List?SpaceID=" + spaceID + "&ConfigID=" + rbl.data[0].ID + "&ShowAdvanceQuery=false&QueryType=File" + "&$IsEdit=true&$IsSelect=true";
        mainTabs.reloadTab(tab);
    }
</script>
