<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Project" connectionString="Data Source=10.10.1.235\sql2008;Initial Catalog=EPM_Project;User ID=sa;PWD=123.zxc;" providerName="System.Data.SqlClient" />
    <add name="Base" connectionString="Data Source=10.10.1.235\sql2008;Initial Catalog=EPM_Base;User ID=sa;PWD=123.zxc;" providerName="System.Data.SqlClient" />
    <add name="Market" connectionString="Data Source=10.10.1.235\sql2008;Initial Catalog=EPM_Market;User ID=sa;PWD=123.zxc;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>