<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--四方文件接口地址前缀（需要修改）-->
    <!--<add key="OEMSyncURL" value="http://www.szsow.com/api/goodway/" />-->
    <!--<add key="OEMStorageURL" value="http://www.szsow.com/storagewebapi_goodway/storage/" />-->
    <add key="OEMStorageURL" value="http://szsow.com/storagewebapi_goodway/storage/" />
    <add key="OEMSyncURL" value="http://szsow.com/api2/goodway/" />
    <!--项目同步模式限制，以逗号分隔，为空则同步所有项目-->
    <add key="SynProjectMode" value="Architecture_OEM_Szsow" />
  </appSettings>
  <connectionStrings>
    <add name="FileStore" connectionString="data source=.;Initial Catalog=FE_FileStore;User ID=sa;Password=123.zxc" providerName="System.Data.SqlClient" />
    <add name="SzsowInteface" connectionString="data source=10.10.1.235\sql2008;Initial Catalog=EPM_SzsowInteface;User ID=sa;PWD=zxc.123;" providerName="System.Data.SqlClient" />
    <add name="Project" connectionString="data source=10.10.1.235\sql2008;Initial Catalog=EPM_Project;User ID=sa;PWD=zxc.123;" providerName="System.Data.SqlClient" />
    <add name="InfrasBaseConfig" connectionString="data source=10.10.1.235\sql2008;Initial Catalog=EPM_Infrastructure;User ID=sa;PWD=zxc.123;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>