@{
    ViewBag.Title = "Tab";
}

<div class="mini-fit" style="padding-top: 5px;">
    <div id="mainTab" class="mini-tabs" activeindex="0" style="width: 100%; height: 100%;">
        <div title="产值确认" url="/MvcConfig/UI/List/PageView?TmplCode=ProductionSettle">
        </div>
        <div title="产值确认单" url="/MvcConfig/UI/List/PageView?TmplCode=ProductionProgressConfirm">
        </div>
    </div>
</div>