<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings >
    <add key="Timer" value="5"/>
  </appSettings>
  <connectionStrings>
    <add name="Base" connectionString="data source=10.10.1.235\sql2008;Initial Catalog=EPM_Base;User ID=sa;PWD=123.zxc;" providerName="System.Data.SqlClient" />
    <add name="Project" connectionString="data source=10.10.1.235\sql2008;Initial Catalog=EPM_Project;User ID=sa;PWD=123.zxc;" providerName="System.Data.SqlClient" />
    <add name="ProjectBaseConfig" connectionString="data source=10.10.1.235\sql2008;Initial Catalog=EPM_ProjectBaseConfig;User ID=sa;PWD=123.zxc;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>