<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="OEMSaUserID" value="00000000-0000-0000-0001-000000000001" />
    <!--组织根节点ID-->
    <add key="OrgRootID" value="a1b10168-61a9-44b5-92ca-c5659456deb5" />
    <add key="OrgRootName" value="董事局" />
  </appSettings>
  <connectionStrings>
    <add name="Szsow" connectionString="Data Source=192.168.1.120;Database=cp;User ID=qcp;Password=123456" providerName="MySql.Data.MySqlClient"/>

    <add name="Base" connectionString="data source=192.168.1.120;Initial Catalog=ZSJZ_Base;User ID=sa;PWD=123.zxc;" providerName="System.Data.SqlClient" />
    <add name="Project" connectionString="data source=192.168.1.120;Initial Catalog=ZSJZ_Project;User ID=sa;PWD=123.zxc;" providerName="System.Data.SqlClient" />
    <add name="ProjectBaseConfig" connectionString="data source=192.168.1.120;Initial Catalog=ZSJZ_ProjectBaseConfig;User ID=sa;PWD=123.zxc;" providerName="System.Data.SqlClient" />
    <add name="HR" connectionString="data source=192.168.1.120;Initial Catalog=ZSJZ_Hr;User ID=sa;PWD=123.zxc;" providerName="System.Data.SqlClient" />
    <!--<add name="Base" connectionString="data source=10.10.1.235\sql2008;Initial Catalog=Arch_Base;User ID=sa;PWD=123.zxc;" providerName="System.Data.SqlClient"/>
    <add name="Project" connectionString="data source=10.10.1.235\sql2008;Initial Catalog=Arch_Project;User ID=sa;PWD=123.zxc;" providerName="System.Data.SqlClient"/>
    <add name="ProjectBaseConfig" connectionString="data source=10.10.1.235\sql2008;Initial Catalog=Arch_ProjectBaseConfig;User ID=sa;PWD=123.zxc;" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
</configuration>
