@{
    ViewBag.Title = "ManageContractSingle";
}
<div class="mini-toolbar" style="padding: 0px; border-bottom: 0px; border-top: 0px;">
    <table style="width: 100%;">
        <tr>
            <td style="width: 100%;">
                <a class="mini-button" iconcls="icon-ok" plain="true" onclick="returnValue()">选择</a>
                <a class="mini-button" iconcls="icon-cancel" plain="true" onclick="closeWindow()">取消</a>
            </td>
            <td style="white-space: nowrap;">
                <input class="mini-buttonedit searchbox" id="key" emptytext="请输入合同编号或名称" style="width: 200px;"
                    onenter="quickSearch('Name,Code');" onbuttonclick="quickSearch('Name,Code');" />
            </td>
        </tr>
    </table>
</div>
<div class="mini-fit">
    <div id="dataGrid" class="mini-datagrid" style="width: 100%; height: 100%;" idfield="ID"
        allowmovecolumn="false" allowresize="true" url="GetManageContractList" pagesize="20">
        <div property="columns">
            <div type="checkcolumn">
            </div>
            <div field="Code" headeralign="center" width="120" allowsort="true" align="center">
                合同编号</div>
            <div field="Name" width="*" headeralign="center" renderer="onLinkRender" allowsort="true"
                align="left">
                合同名称</div>
            <div field="BelongYear" width="70" headeralign="center" dateformat="yyyy-MM-dd" allowsort="true"
                align="center">
                归属年份</div>
            <div field="ContractType" renderer="onEnumRender" headeralign="center" align="center"
                width="100" allowsort="true">
                合同类别</div>
            <div field="ContractAmount" currencyunit="￥" datatype="currency" headeralign="center"
                width="100" allowsort="true" align="right">
                合同金额</div>
        </div>
    </div>
</div>
<script type="text/javascript">
@Html.GetEnum("Market.ContractType")
</script>
<script type="text/javascript">

    addGridEnum("dataGrid", "ContractType", "ContractType");

    function returnValue() {
        var grid = mini.get("dataGrid");
        closeWindow(grid.getSelecteds());
    }

</script>
