<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="AuthCode" value="Ce9vdW0DO+6SWC/AyBDnzLkuhp+NTeQ0V1fPRsBl+BKjJd/ZIP8VOr2yFvQuREJs" />
    <!--公司级权限，用于集团和子公司-->
    <add key="CorpAuthEnabled" value="False" />
    <!--本站点使用的文件服务器名-->
    <add key="FS_ServerName" value="Base" />
    <!--主文件服务器站点的Url-->
    <add key="FS_MasterServerUrl" value="http://localhost:8054/FileStore/Services/MasterService.asmx" />

    <add key="FileServer" value="http://localhost:8054" />

    <!--是否分布式存储,一般情况请配置为True-->
    <add key="FS_Distributed" value="false" />
    <!--是否主站点-->
    <add key="FS_IsMaster" value="True" />
    <!--平台不能上传的文件格式-->
    <add key="FS_FileExtFilter" value="exe|dll|bat" />
    <!--文件是否能自由下载-->
    <add key="FS_FreeDownload" value="True" />
    <!--上传文件最大长度-->
    <add key="FS_UploadMaxLength" value="300" />
    <!--是否使用Flash上传文件-->
    <add key="FS_UseSwf" value="true" />


    <!--用户输错密码锁定时间-->
    <add key="ErrPwdLockTime" value="10" />
    <!--用户输错密码锁的次数-->
    <add key="ErrPwdTimes" value="3" />
    <!--是否启用分布式事务-->
    <add key="UseMsdtc" value="False" />
    <!-- 是否启用缓存-->
    <add key="UseCache" value="False" />
    <!--是否用户单一登录模式，设置为False可以提高效率-->
    <add key="UserSingleLogin" value="False" />
    <!--流程——是否是否消除重复签字-->
    <add key="Flow_SignDistinct" value="True" />
    <!--流程——签名图片导出Word的宽度-->
    <add key="Flow_SignInWordWidth" value="80" />
    <!--流程——签名图片导出Word的高度-->
    <add key="Flow_SignInWordHeight" value="30" />
    <!--流程——发起人自由撤销-->
    <add key="Flow_FreeWidthdraw" value="False" />
    <!--流程——升版框架版本号起始字符，默认为1-->
    <add key="FlowVersionNumberStart" value="1" />
    <!--流程——仅获取当前组织的直接组织角色和下级岗位的组织角色，默认值为True-->
    <add key="Flow_OnlyCurrentOrgRole" value="False" />

    <!--流程——待办任务是否允许批量审批-->
    <add key="Flow_BatchApproval" value="False" />
    <!--流程——每个环节任务完成都给发起人发消息-->
    <add key="Flow_SendMsgToInitiator" value="False" />
    
    <!--选人——只显示所属部门人员，默认值为False-->
    <add key="UserSelectOnlyCurrent" value="True" />
    <!--全局主题配色(Default,Vista)-->
    <add key="GlobalSysColor" value="Default" />
    <!--入口风格(Tree,Menu)-->
    <add key="AuthMode" value="Tree" />
    <!--是否启用部门主页(True启用;False停用)-->
    <add key="DeptHomeEnabled" value="False" />
    <!--KindEditor富文本框保存地址-->
    <add key="KindEditorSavePath" value="/KindEditor/Upload" />

    <add key="Log4NetPath" value="D:\5.3平台日志\" />
    <!--Excel导入导出模板的存放路径-->
    <add key="ExcelTemplatePath" value="/ExcelTemplate" />

    <!--平台不能输入的字符-->
    <add key="CharFilter" value="'|%27" />

    <!--帐号异地登录强制退出-->
    <add key="IsAllopatry" value="False" />

    <!--是否连接Oracle数据库-->
    <add key="IsOracleDb" value="False" />

    <!--红头模板-->
    <add key="HongTouTemplate" value="/OfficialDocTemplate/HongTou/" />
    <!--签章图-->
    <add key="SignatureImage" value="/OfficialDocTemplate/Signature/Stamp.png" />
    <!--在线WebOffice的所有脚本-->
    <add key="WebOfficeAllJS" value="/CommonWebResource/CoreLib/Basic/jQuery/jquery-1.7.2.min.js, /CommonWebResource/CoreLib/MiniUI/miniui.js, WebOffice.Logic.AssemblyResource|WebOffice.Logic|WebOffice.js" />
    <!--在线WebOffice的FileStore适配-->
    <add key="StorageType" value="WebOffice.Logic.FileStorage.FileStoreStorageAdapter,WebOffice.Logic" />
    <!--工时填报范围（天），即当前日期前后多少天可填工时-->
    <add key="WorkHourRangeDay" value="30" />
    <!--工时填报中一天填报正常工时最大值-->
    <add key="NormalHoursMax" value="8" />
    <!--工时填报中一天填报加班工时最大值-->
    <add key="ExtraHoursMax" value="8" />

    <!--每天的上下班时间-->
    <add key="WorkTime_Start1" value="9" />
    <add key="WorkTime_End1" value="12" />
    <add key="WorkTime_Start2" value="13" />
    <add key="WorkTime_End2" value="18" />

    <!--三权分立开关,超级管理员访问地址为/base/auth/security/edit，默认超级管理员密码为1-->
    <add key="Auth_PowerDiscrete" value="True" />

    <!--金慧公司问题反馈项目名称，关闭此功能请注释此选项或value改为空-->
    <add key="FeedbackProjectName" value="上海金慧软件项目" />
    <!--被反馈项目的负责人-->
    <add key="FeedbackProjectPrincipal" value="张三" />
    <!--被反馈项目的责任部门-->
    <add key="FeedbackProjectDept" value="项目部" />
    <!--金慧公司问题反馈收集地址-->
    <add key="FeedbackServerUrl" value="http://116.228.144.166:8019/Base/api/AllFeedback" />

    <!--是否弹出验证提示（表单）-->
    <add key="showErrors" value="true" />
    <!--自定义表单上是否显示流程意见域-->
    <add key="showFlowComments" value="True" />
    <!--显示流程意见位置  True上面 False下面-->
    <add key="showCommentPosition" value="False" />
    <!--不使用弹出层,需要layout布局中将GetBasicInfo方法放在baseMiniuiExt脚本的上面，即Head的最前面，portal的HomeBoard和HomeBoardIframe页面需要根据此配置定义noPopupLayer变量-->
    <add key="noPopupLayer" value="False" />
    <!--签字密码验证地址-->
    <add key="signPwdValidationUrl" value="/MvcConfig/Workflow/Password/Validation" />
    <!--允许签字密码验证-->
    <add key="allowSignPwdValidation" value="False" />

    <!--支持英语，默认为空字符串-->
    <add key="language" value="" />
    <add key="culture1" value="en-us" />

    <!--指定配置项输出到web端，多个配置项使用逗号隔开-->
    <add key="toWeb" value="" />
  
    <!--企业所在地区信息-->
    <add key="City" value="武汉市" />
    <add key="Province" value="湖北省" />
  </appSettings>

  <connectionStrings>
    <add name="Base" connectionString="DATA SOURCE=10.10.1.95:1521/orcl;PERSIST SECURITY INFO=True;USER ID=FE_BASE;Password=123.zxc;" providerName="Oracle.DataAccess.Client" />
    <add name="Workflow" connectionString="DATA SOURCE=10.10.1.95:1521/orcl;PERSIST SECURITY INFO=True;USER ID=FE_WORKFLOW;Password=123.zxc;" providerName="Oracle.DataAccess.Client" />
    <add name="FileStore" connectionString="DATA SOURCE=10.10.1.95:1521/orcl;PERSIST SECURITY INFO=True;USER ID=FE_FILESTORE;Password=123.zxc;" providerName="Oracle.DataAccess.Client" />
    <add name="Market" connectionString="Data Source=10.10.1.235\gw02;Initial Catalog=FE_Market;User ID=sa;PWD=123.zxc;" providerName="System.Data.SqlClient" />
    <add name="Project" connectionString="DATA SOURCE=10.10.1.95:1521/orcl;PERSIST SECURITY INFO=True;USER ID=FE_PROJECT;Password=123.zxc;" providerName="Oracle.DataAccess.Client" />
    <add name="HR" connectionString="DATA SOURCE=10.10.1.95:1521/orcl;PERSIST SECURITY INFO=True;USER ID=FE_HR;Password=123.zxc;" providerName="Oracle.DataAccess.Client" />
    <add name="OfficeAuto" connectionString="DATA SOURCE=10.10.1.95:1521/orcl;PERSIST SECURITY INFO=True;USER ID=FE_OFFICEAUTO;Password=123.zxc;" providerName="Oracle.DataAccess.Client" />
    <add name="ProjectBaseConfig" connectionString="DATA SOURCE=10.10.1.95:1521/orcl;PERSIST SECURITY INFO=True;USER ID=FE_PROJECTBASECONFIG;Password=123.zxc" providerName="System.Data.SqlClient" />
    <add name="DocConfig" connectionString="DATA SOURCE=10.10.1.95:1521/orcl;PERSIST SECURITY INFO=True;USER ID=FE_DOCCONFIG;Password=123.zxc;" providerName="Oracle.DataAccess.Client" />
    <add name="DocConst" connectionString="DATA SOURCE=10.10.1.95:1521/orcl;PERSIST SECURITY INFO=True;USER ID=FE_DOCCONST;Password=123.zxc;" providerName="Oracle.DataAccess.Client" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.0"></compilation>

    <machineKey validationKey="3FF1E929BC0534950B0920A7B59FA698BD02DFE8" decryptionKey="280450BB36319B474C996B506A95AEDF9B51211B1D2B7A77" decryption="3DES" validation="SHA1" />
    <authentication mode="Forms">
      <forms cookieless="UseCookies" loginUrl="/PortalLTE/Main/Login" protection="Validation" timeout="20" slidingExpiration="true"></forms>
    </authentication>
    <sessionState mode="InProc" timeout="20" cookieless="false"></sessionState>
    <authorization>
        <deny users="?" />
    </authorization>
    <httpRuntime requestValidationMode="2.0" maxRequestLength="204800" executionTimeout="36000" />
    <pages validateRequest="false">
    </pages>
    <customErrors mode="Off"></customErrors>
  </system.web>
  <system.webServer>
    <httpRedirect enabled="true" destination="/PortalLTE/Main/Login" exactDestination="true" childOnly="true" />
    <!--以下配置为了让IIS7+支持Put/Delete方法-->
    <httpProtocol>
      <customHeaders>
        <!--IE=EmulateIE8  IE=Edge,chrome=1-->
        <add name="X-UA-Compatible" value="IE=Edge,chrome=1" />
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Methods" value="GET,PUT,POST,DELETE,OPTIONS" />
        <add name="Access-Control-Allow-Headers" value="Content-Type" />
      </customHeaders>
    </httpProtocol>
    <!--IIS7/7.5上必须加这个配置,否则访问报错-->
    <modules runAllManagedModulesForAllRequests="false">
      <remove name="WebDAVModule" />
    </modules>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="209715200">
        </requestLimits>
        <verbs>
        </verbs>
      </requestFiltering>
    </security>
    <handlers>
      <!-- 在线Office的默认处理程序，封装了点聚的WebOffice(需要IIS里匿名登陆去掉)  -->
      <add name="WebOfficeHandler" verb="*" path="WebOffice.axd" type="WebOffice.Logic.WebOfficeHandler,WebOffice.Logic" />
      <!-- 脚本打包  -->
      <add name="HttpCombiner" verb="*" path="HttpCombiner.axd" type="WebOffice.Logic.HttpCombiner,WebOffice.Logic" />
    </handlers>
    <staticContent>
        <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
        <mimeMap fileExtension=".woff2" mimeType="application/x-font-woff" />
    </staticContent>
  </system.webServer>

</configuration>