<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.3.1.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite, Version=1.0.82.0, Culture=neutral, PublicKeyToken=db937bc2d44ff139" />
    </DbProviderFactories>
  </system.data>
  <appSettings>
    <add key="APIKey" value="b2542807f4250d6190cad021" />
    <add key="SecretKey" value="50f373f35187e0cbb7704e95" />
    <add key="ExpireDay" value="2" />
    <!--任务调度器对外提供的端口号-->
    <add key="SchedulerPort" value="5551" />
    <!--服务英文名称，也是任务调度器实例Id，用于区分不同的任务调度器-->
    <add key="ServiceName" value="OAScheduleJob" />
    <!--服务显示名称，也是任务调度器中文名字-->
    <add key="ServiceDisplayName" value="任务调度器（TaskDefault1）" />
    <!--服务中文描述-->
    <add key="ServiceDescription" value="控制台便于调试，通过Topshelf进行部署为服务，命令是install" />
    <!--需要依赖注入的dll，如：NBlock*.dll,*Models.dll,*Services.dll-->
    <add key="RegisterModules" value="" />
    <!-- 分页生成SWF文件：超过20页的文件 -->
    <add key="PDFSplit.PageCount" value="20" />
    <!-- 分页生成SWF文件：超过5M的文件 -->
    <add key="PDFSplit.FileSize" value="5" />
    <!-- PDFTaskRepository 的类型 -->
    <add key="PDFTaskRepositoryType" value="PDFViewer.DefaultPDFTaskRepository,PDFViewer" />
    <!--FileStore的地址-->
    <add key="FileStore" value="http://localhost:8050/FileStore/Services/OuterService.asmx" />
    <!--雇员合同到期轮循周期-->
    <add key="EmployeeContractCycleDays" value="7" />
    <!--执业资格到期轮循周期-->
    <add key="PracticeQualificationCycleDays" value="7" />
    <!--雇员合同提前提醒天数-->
    <add key="EmployeeContractDeadlineDays" value="30" />
    <!--执业资格提前提醒天数-->
    <add key="PracticeQualificationDeadlineDays" value="30" />
  </appSettings>
  <connectionStrings>
    <add name="QuartzScheduler" connectionString="Data Source=./Scheduler.db;Version=3;New=True;" providerName="System.Data.SQLite" />
    <add name="Workflow" connectionString="Data Source=10.10.1.5;Initial Catalog=WXStandard_Workflow;User ID=sa;PWD=123.zxc;" providerName="System.Data.SqlClient" />
    <add name="Base" connectionString="Data Source=10.10.1.5;Initial Catalog=WXStandard_Base;User ID=sa;PWD=123.zxc;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!--<entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>-->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.1.0" newVersion="4.3.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>